.window {
	padding: 32px;
	max-width: 600px;
	width: 100%;
	overflow-y: auto;
	max-height: calc(100vh - 64px);
	transition: transform .8s, opacity .3s;

	transform: translateY(100vh);

	background-color: rgba(#222, 20%);
	border-radius: 24px;
	border: rgba(#fff, 13%) 1px solid;
	backdrop-filter: blur(14px);
	color: #fff;

	@media(prefers-color-scheme: light) {
	    background-color: rgba(#fff, 20%);
		border-color: rgba(#555, 8%);
		box-shadow: rgba(#333, 12%) 0 0 24px;
		color: #333;
	}

	[class*="opened-popup"] & {
		transform: translateY(0);
	}

	&::-webkit-scrollbar {
		display: none;
	}
}


.popupHeader {
	display: flex;
	justify-content: flex-end;
	border-bottom: rgba(#000, 5%) 1px solid;
}


.topCloseButton {
	position: absolute;
	right: 0;
	padding: 4px 16px;
	border-radius: 0 !important;
	transition: background-color .1s;

	&:hover {
		background-color: rgba(#000, 10%);
	}

	i {
		color: #000;
	}
}
