.card {
  border-radius: 24px;
  padding: 20px;

  background-color: var(--container-high);
}

@media (max-width: 640px) {
  .card.mobileShrink {
    padding: 0;
    background: transparent;
    border-radius: 0;
    border: 0;
  }
}
