.posts {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	min-width: 0;

}

.end {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;

	padding: 32px;

	.title {
		font-size: 28px;
	}

	.description {
		max-width: 560px;
		text-align: center;
		line-height: 150%;
	}

	.homeButton {
		margin-top: 8px;
	}
}