.comments {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  display: flex;
  gap: 8px;
  align-items: stretch;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.button {
  align-self: flex-end;
}

.card {
  margin-block: 16px;
}

.input {
  flex-grow: 1;
}

.title {
  display: block;
  margin-top: 12px !important;
}
