.user {
	width: 100%;
}

.suspendTitle {
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	margin-top: 12px;
}

.suspendDescription {
	margin-top: 8px;
	text-align: center;
}

.lockIcon {
	text-align: center;
	font-size: 64px;
	display: block;
	width: 100%;
}

.suspendCard.suspendCard {
	padding-block: 24px;
}