@use "@/scss/breakpoints.scss";
@use "@/scss/vars.scss";

.header {
	border-bottom: var(--medium-color) 1px solid;
	position: sticky;
	top: 0;
	background-color: var(--background-color);
	z-index: vars.$fixed;

}

.header .container {
	transition: padding .3s;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px 32px;
	flex-wrap: wrap;
	padding-block: 8px;
}

.menu {
	display: flex;
	gap: 16px 16px;
	flex-wrap: wrap;
	flex-grow: 1;

	@media (max-width: breakpoints.$tablet) {
		flex-direction: column;
		max-width: 320px;
		width: 100%;
		align-items: center;
		// justify-content: center;
	}
}

.opened {
	// background-color: #fff;
}

.wrapper {
	transition: left .5s;
	flex-grow: 1;
	justify-content: flex-start;
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		position: absolute;
		padding: 16px;
		left: -100%;
		top: calc(100% + 1px);
		background-color: var(--background-color);
		width: 100%;
		height: calc(100vh - 120px);
		flex-direction: column;
	}
}

.header:has(.opened) {
	.wrapper {
		left: 0;
	}
}