@use "@/scss/breakpoints.scss";
@use "@/scss/vars.scss";

.header {

	position: sticky;
	top: 8px;
	z-index: vars.$fixed;

	margin: 8px;
}

.header .container {
	transition: padding .3s;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px 32px;
	flex-wrap: wrap;
	padding-block: 8px;
	position: relative;

	border-radius: 50px;
	backdrop-filter: blur(8px);
	background-color: var(--background-opaque);

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border: var(--border-opaque) 0px solid;
		border-left-width: 2px;
		border-right-width: 2px;
		border-radius: 999px;
	}
}

.container a:nth-child(2) {
	animation-name: logo;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


.container.fullWidth {
	max-width: 9999px;
}

.menu {
	display: flex;
	gap: 16px 16px;
	flex-wrap: wrap;
	flex-grow: 1;

	@media (max-width: breakpoints.$tablet) {
		flex-direction: column;
		max-width: 320px;
		width: 100%;
		align-items: center;
	}
}

.wrapper {
	transition: left .5s;
	flex-grow: 1;
	justify-content: flex-start;
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		position: absolute;
		padding: 16px;
		left: -100%;
		top: calc(100% + 1px);
		background-color: var(--background-color);
		width: 100%;
		height: calc(100vh - 120px);
		flex-direction: column;
	}
}

.header:has(.opened) {
	.wrapper {
		left: 0;
	}
}