.button {
	display: flex;
	gap: 8px;
	position: relative;
}

.loader {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--foreground-color);
	display: flex;
	align-items: center;
	justify-content: center;

	animation-name: appearLoader;
	animation-duration: .3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes appearLoader {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}