.form {
	width: calc(100% - 300px);

	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #fff;

	border-top: 1px solid var(--medium-color);

	.formContainer {
		display: flex;
		gap: 8px;
	}
}

.main {
	max-height: calc(100% - 138px);
	height: 100%;
	padding: 16px;
}

.container {
	// max-height: calc(100% - 138px);
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;

	border: var(--medium-color) 1px solid;
	padding: 0;
	border-radius: 8px;
	// box-sizing: border-box;

	display: flex;
}

.messenger {
	// position: absolute;
	height: 100%;
	width: 100%;
	padding: 16px;

	overflow-y: scroll;
	// position: relative;

}

.sidebar {
	max-width: 300px;
	width: 100%;

	border-right: var(--medium-color) 1px solid;
	// padding: 16px;
}

.input {
	flex-grow: 1;
}

.button {
	padding: 0 8px !important;

	i {
		transform: translateX(1px);
	}
}

.user {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 16px;
	// border-radius: 8px;
	cursor: pointer;
	user-select: none;

	&:hover {
		background-color: #f5f5f5;
	}
}

.username {
	font-weight: 500;
	font-size: 14px;
}

.message {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}