@import "@/scss/null";

:root {
	--medium-color: #ccc;
	--negative-medium-color: #222;
	--accent-color: #000;
	--background-color: #fff;
	--foreground-color: #333;

	@media(prefers-color-scheme: dark) {
		--medium-color: #222;
		--negative-medium-color: #ccc;
		--accent-color: #fff;
		--background-color: #111;
		--foreground-color: #eee;
	}
}

.main {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--background-color);
	color: var(--foreground-color);
}

::-webkit-scrollbar {
	background: var(--background-color);
	width: 12px;
	border-radius: 16px;
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	transition: border-width .5s;
	background-color: var(--accent-color);
	border-radius: 8px;
	border: var(--background-color) 3px solid;
	cursor: pointer;

	&:hover {
		border-width: 2px;
	}
}

details {
	&[open] {
		summary {
			margin-bottom: 7px;
		}
	}
}

button,
input,
textarea {
	background-color: transparent;
	color: var(--foreground-color);
}

summary {
	user-select: none;
	cursor: pointer;
}

video,
iframe,
img {
	border-radius: 8px;
}

.main-container {
	display: flex;
	gap: 16px;
	flex-grow: 1;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.menu-title {
	display: inline-block;
	margin-bottom: 8px;
}

.sidebar {
	flex-basis: 240px;
	flex-shrink: 0;
	position: sticky;
	top: 68px;

	@media (max-width: 768px) {
		position: static;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 16px;
}