.posts {
	display: flex;
	flex-direction: column;
	gap: 16px;
	min-width: 0;
	width: 100%;
}

.buttonBox {
	display: flex;
	justify-content: flex-end;
}

.login.login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px;
	padding-left: 20px;
}