.fb24m {
	display: flex;
	align-items: center;
	gap: 12px;
	font-weight: 700;
	font-size: 28px;
}

@media (max-width: 640px) {
	.fb24m {
		font-size: 16px;
		font-weight: 500;
		gap: 8px;
	}

	.fb24m img {
		width: 20px;
		height: 20px;
	}

	.container.container {
		padding: 8px 16px;
	}
}

.subheader {
	background-color: #000;
	color: #fff;

	border-radius: 0 0 8px 8px;
	border-bottom: var(--medium-color) 1px solid;
}