.primary,
.secondary,
.transparent,
.filled_secondary {
	padding: 6px 8px;

	font-size: 14px;

	@media (prefers-color-scheme: dark) {
		padding: 6px 12px;
		border-radius: 999px;
	}

	&.icon {
		padding: 2px 6px;

		@media (prefers-color-scheme: dark) {
			padding: 4px 10px;
		}
	}

	i {
		font-size: 20px;
	}
}

.button {
	transition: background-color .3s;
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: 500;

	white-space: nowrap;
	background-color: transparent;
	border: 0;
	outline: 0;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	// border-radius: var(--border-radius-md);

	border-width: var(--button-border-width);
	border-color: var(--button-border-color);
	border-style: var(--button-border-style);

	&.secondary {
		color: var(--foreground-color);
		position: relative;

		@media (prefers-color-scheme: dark) {
			background-color: rgba(#fff, 4%);
			backdrop-filter: blur(4px);
			border-radius: 9999px;
		}

		&:hover {
			@media(hover: hover) {
				background-color: var(--content-layer-hover);
			}
		}

		&:active {
			background-color: var(--content-layer-hover);
		}

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			opacity: 10%;
			border: #fff 0px solid;
			border-left-width: 1px;
			border-right-width: 1px;
			border-radius: 999px;
		}
	}

	&.primary {
		transition: opacity .3s;
		background-image: linear-gradient(45deg, var(--accent-color), var(--accent-color-2));
		color: var(--background-color);

		&:hover {
			@media(hover:hover) {
				opacity: .8;
			}
		}


		&:active {
			opacity: .7;
		}
	}

	&.transparent {
		color: var(--foreground-color);

		&:hover {
			@media(hover: hover) {
				background-color: var(--content-layer-hover);
			}
		}

		&:active {
			background-color: var(--content-layer-hover);
		}
	}

	&.filled_secondary {
		background-color: var(--medium-color);
		opacity: 80%;
	}


	&[disabled],
	&[disabled]:hover,
	&[disabled]:active {
		background-color: rgba(#ffffff, 50%);
		opacity: 1;
	}

	&[title] {
		overflow: visible;
	}

	&[title]::before {
		content: attr(title);

		position: absolute;

		transition: transform .2s, opacity .2s;

		display: block;
		white-space: wrap;
		top: 100%;
		background-color: var(--background-color);
		border: var(--medium-color) 1px solid;
		box-shadow: var(--medium-color) 0 0 10px;
		padding: 8px;
		border-radius: 8px;

		backdrop-filter: blur(16px);

		margin-top: 8px;
		width: 240px;
		color: #fff;

		transform: translateY(-16px);
		opacity: 0;
		pointer-events: none;
	}

	&[title]:hover::before {
		transform: translateY(0);
		opacity: 1;
		pointer-events: all;
	}
}