.postEditor {
  flex-grow: 1;
}

.textarea {
  line-height: 150%;
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  flex-grow: 1;

  resize: none;
  border-radius: 8px;
  padding: 16px;
  padding-right: 0;
}

.statusbar {
  padding-inline: 12px;
  border-top: var(--medium-color) 1px solid;
  flex-shrink: 0;
  display: flex;
  gap: 12px;
}

.statusbarItem {
  border-right: var(--medium-color) 1px solid;
  padding-right: 12px;
  padding-block: 12px;
}

.aiStart {
  padding: 24px;
  margin: 8px;
  background-color: var(--medium-color);
  border-radius: 24px;
}
.aiTitle {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}
.aiDescription {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 24px;
}

.tryButton {
  margin-top: 16px;
  margin-left: 24px;
}
