.geminiSettingsCard {
  margin-block: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.input {
  width: 100%;
}
.title2 {
	font-size: 20px;
	font-weight: 600;
}
.description {
font-size: 14px;
}
