.shortForm {
	position: fixed;
	bottom: 16px;
	background-color: var(--background-color);
	max-width: 560px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: var(--medium-color) 0 0 10px;
}

.buttons {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.button {
	margin-top: 16px;
}