.counters {
	display: flex;
	gap: 16px;

	@media (max-width: 560px) {
		gap: 8px;
	}
}

.counter {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	width: 100px;

	@media (max-width: 560px) {
		width: 72px;
	}
}

.buttons {
	display: flex;
	gap: 8px;
	align-items: center;
}

.count {
	font-size: 32px;
}

.description {
	font-size: 14px;

	@media (max-width: 560px) {
		font-size: 12px;
	}

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	text-align: center;
}

.about {
	align-items: center;
	gap: 8px;
}

.user {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;
}

.userInfo {}

.username {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 8px;

	display: flex;
	gap: 16px 8px;
	align-items: center;
	flex-wrap: wrap;
}

.avatar {
	width: 96px;
	height: 96px;
	background-color: #ddd;
	border-radius: 8px;

	@media (max-width: 375px) {
		width: 80px;
		height: 80px;
	}
}

.bio {
	display: inline-block;
	margin-right: 8px;
}

.profile {
	margin-bottom: 16px;
}

.addPostButton {
	margin-bottom: 16px;
}

.channelId {
	display: none;
}

.badge {
	padding: 4px 8px;
	border-radius: 8px;
	background-color: var(--foreground-color);
	color: var(--background-color);
	font-size: 14px;
}