.counters {
	display: flex;
	gap: 16px;

	@media (max-width: 560px) {
		gap: 8px;
	}


}

.counter {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	width: 100px;

	@media (max-width: 560px) {
		width: 72px;
	}
}

.buttons {
	display: flex;
	gap: 8px;
	align-items: center;
}

.count {
	font-size: 32px;
}

.description {
	font-size: 14px;

	@media (max-width: 560px) {
		font-size: 12px;
	}

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	text-align: center;
}

.about {
	align-items: center;
	gap: 8px;
}

.user {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;
	position: relative;
}

.userInfo {}

.username {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 8px;

	display: flex;
	gap: 16px 8px;
	align-items: center;
	flex-wrap: wrap;
}

.avatar {
	position: relative;
	z-index: 1;
}

.avatar,
.glow {
	width: 96px;
	height: 96px;
	background-color: #ddd;
	border-radius: 8px;

	@media (max-width: 375px) {
		width: 80px;
		height: 80px;
	}
}

.radial {

	&,
	&::before,
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		background-color: #fff;
		width: 40px;
		height: 40px;
		border-radius: 999px;
		filter: blur(30px)
	}

	& {
		left: -20px;
		top: -20px;
		background: crimson;
	}

	&::before {
		left: 30px;
		top: 70px;
		background: lime;
	}

	&::after {
		left: 70px;
		top: 0px;
		background: lightblue;
	}
}

.glow {
	position: absolute;
	left: 0;
	top: 0;
	filter: blur(24px);
}

.bio {
	display: inline-block;
	margin-right: 8px;
}

.profile {
	margin-bottom: 16px;
}

.addPostButton {
	margin-bottom: 16px;
}

.channelId {
	display: none;
}

.badge {
	padding: 4px 8px;
	border-radius: 8px;
	background-color: var(--foreground-color);
	color: var(--background-color);
	font-size: 14px;
}

.links {
	display: flex;
	gap: 8px;
	margin-top: 8px;

	.link {
		display: flex;
		align-items: center;
		gap: 8px;

		padding: 6px 8px;
		border: var(--medium-color) 1px solid;
		border-radius: 6px;

		font-weight: 500;
		font-size: 14px;

		&:hover {
			background-color: var(--medium-color);
		}

		svg {
			width: 16px;
			height: 16px;

			fill: var(--foreground-color);
		}
	}

}

.pronouns {
	padding: 2px 4px;
	border: var(--medium-color) 1px solid;
	border-radius: 6px;
	color: var(--foreground-color);
	font-weight: 500;
	font-size: 12px;
	margin-right: 8px;
}


.avatar {
	position: relative;
}

.statusIcon {
	position: absolute;
	bottom: 4px;
	right: 4px;
	z-index: 4;
	width: 20px;
	height: 20px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background-color: var(--background-color);

	i {
		font-size: 16px;
	}
}