.box {
	max-width: 100%;
	width: 100%;
}

.card {
	flex-basis: 400px;
	padding: 32px !important;
}

.login {
	display: flex;
	height: 100vh;

	@media (max-width: 640px) {
		flex-direction: column;
	}
}

.content {
	background-color: var(--foreground-color);
	color: var(--background-color);
	padding: 64px;
	display: flex;
	flex-direction: column;
	max-width: 50vw;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 0;
	}

	@media (max-width: 1024px) {
		padding: 32px 20px;
	}

	@media (max-width: 640px) {
		max-width: 100%;
		overflow: visible;
		padding: 20px;
	}

	@media (max-width: 475px) {
		padding: 15px;
	}
}

.title {
	font-size: 50px;
	font-weight: 900;

	@media (max-width: 1024px) {
		font-size: 40px;
	}

	@media (max-width: 992px) {
		font-size: 32px;
	}

	@media (max-width: 640px) {
		margin-top: 0;
		padding-left: 16px;
		font-size: 24px;
		text-align: center;
	}

	@media (max-width: 475px) {
		padding-left: 10px;
	}
}

.welcome {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 12px;
}

.greeting {
	@media (max-width: 640px) {
		display: flex;
		justify-content: center;
		gap: 16px;
	}

	@media (max-width: 475px) {
		gap: 10px;
	}

	* {
		@media (max-width: 640px) {
			font-size: 24px !important;
		}

		@media (max-width: 475px) {
			font-size: 18px !important;
		}
	}

	img {
		@media (max-width: 475px) {
			height: 20px;
			width: 20px;
		}
	}
}

.author {
	text-decoration: underline;
	margin-top: 24px;
}

.info {
	@media (max-width: 640px) {
		display: none;
	}
}

.advantagesBlock {
	@media (max-width: 640px) {
		display: none;
	}
}

.advantages {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	margin-top: 24px;

	&:has(.advantage:hover) .advantage:not(:hover) {
		@media (hover: hover) {
			filter: blur(4px);
		}
	}

	&:has(.advantage:active) .advantage:not(:active) {
		filter: blur(4px);
	}

	@media (max-width: 1024px) {
		gap: 8px;
	}

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
		margin-top: 20px;
	}
}

.advantage {
	transition: transform .3s, filter .5s;

	&:hover {
		@media (hover: hover) {
			transform: scale(1.05);
			user-select: none;
		}
	}

	&:active {
		transform: scale(1.05);
		user-select: none;
	}
}

.advantage.advantage {
	border: var(--negative-medium-color) 1px solid;
	background-color: transparent;

	@media (max-width: 1024px) {
		padding: 15px 14px;
	}
}

.advantageTitle {
	font-size: 20px;
	font-weight: 600;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

.advantageDescription {
	margin-top: 12px;

	@media (max-width: 1024px) {
		font-size: 14px;
	}
}

.loginBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 16px;
	height: 100%;
}

.loginTitle {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 16px;
}

.years {
	font-size: 12px;
	display: block;
	margin-top: 8px;
}