.box {
	max-width: 100%;
	width: 100%;
}

.card {
	flex-basis: 400px;
	padding: 32px !important;
}

.login {
	display: flex;
	height: 100vh;

	@media (max-width: 640px) {
		flex-direction: column;
		height: auto;
	}
}

.content {
	background-color: var(--foreground-color);
	color: var(--background-color);
	padding: 64px;
	display: flex;
	flex-direction: column;
	max-width: 50vw;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 0;
	}

	@media (max-width: 1024px) {
		padding: 32px 20px;
	}

	@media (max-width: 640px) {
		max-width: 100%;
		overflow: visible;
		padding: 20px;
	}

	@media (max-width: 475px) {
		padding: 15px;
	}
}

.title {
	font-size: 50px;
	font-weight: 900;
	margin-top: 8px;

	@media (max-width: 1024px) {
		font-size: 40px;
	}

	@media (max-width: 992px) {
		font-size: 32px;
	}

	@media (max-width: 640px) {
		margin-top: 0;
		border-left: var(--negative-medium-color) 1px solid;
		padding-left: 16px;
	}

	@media (max-width: 475px) {
		padding-left: 10px;
	}
}

.welcome {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.greeting {
	@media (max-width: 640px) {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	@media (max-width: 475px) {
		gap: 10px;
	}

	* {
		@media (max-width: 640px) {
			font-size: 24px !important;
		}

		@media (max-width: 475px) {
			font-size: 18px !important;
		}
	}

	img {
		@media (max-width: 475px) {
			height: 20px;
			width: 20px;
		}
	}
}

.author {
	text-decoration: underline;
	margin-top: 24px;

	@media (max-width: 640px) {
		display: none;
	}
}

.advantages {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	margin-top: 64px;

	&:has(.advantage:hover) .advantage:not(:hover) {
		filter: blur(4px);
	}

	@media (max-width: 1024px) {
		gap: 8px;
	}

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
		margin-top: 20px;
	}

	@media (max-width: 640px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 475px) {
		margin-top: 16px;
	}
}

.advantage {
	transition: transform .3s, filter .5s;

	&:hover {
		transform: scale(1.05);
		user-select: none;
	}
}

.advantage.advantage {
	border-color: var(--negative-medium-color);

	@media (max-width: 1024px) {
		padding: 15px 14px;
	}

	@media (max-width: 640px) {
		padding: 12px 14px;
	}

	@media (max-width: 475px) {
		padding: 10px 12px;
	}
}

.advantageTitle {
	font-size: 20px;
	font-weight: 600;

	@media (max-width: 1024px) {
		font-size: 16px;
	}

	@media (max-width: 640px) {
		font-size: 14px;
	}

	@media (max-width: 475px) {
		font-size: 14px;
	}
}

.advantageDescription {
	margin-top: 12px;

	@media (max-width: 1024px) {
		font-size: 14px;
	}

	@media (max-width: 640px) {
		margin-top: 6px;
	}

	@media (max-width: 475px) {
		font-size: 13px;
	}
}

.loginBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 16px;
}

.loginTitle {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 16px;
}